{% load  static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    {% block style_css%} {% endblock %}
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav
        class="navbar navbar-expand-lg fixed-top bg-dark"
        data-bs-theme="dark"
      >
        <div class="container header">
          <a class="navbar-brand" href="{% url "home" %}"
            ><img src="{% static "images/png/logotype.png"%}" width="80px" height="40px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto" aria-labelledby="navDrop">
              <li class="nav-item">
                <a href="{% url "home" %}"><button class="btn btn-dark ms-2">Главная</button></a>
              </li>
              <li class="nav-item">
                <a href="{% url "courses" %}"><button class="btn btn-dark ms-2">Курсы</button></a>
              </li>
              <li class="nav-item">
                <a href="{% url "chat" %}"><button class="btn btn-dark ms-2" >Интерактив</button></a>
              </li>
              <li class="nav-item">
                <a href="{% url "home" %}"><button class="btn btn-dark ms-2">Рейтинг</button></a>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button
                  onclick="myFunction()"
                  class="dropbtn btn btn-dark ms-2 dropdown-toggle dropdown-toggle-split"
                >
                  Профиль
                  <span class="visually-hidden"
                    >Переключатель выпадающего списка</span
                  >
                </button>
                <div id="myDropdown" class="dropdown-content text-start rounded shadow-lg">
                  {{ first_name}}
                  <hr class="mt-2 mb-2"/>
                  Никнейм:  <br>
                  {{ username }}
                  <hr class="mt-2 mb-2"/>
                  Ваши баллы: {{ points }} <br>
                  <a href="{% url "logout" %}"><button  class="btn btn-danger rounded w-100 mt-3 btn-profile">Выйти</button></a>
                </div>
              </div>
              
            {% else %}
                <a href="{% url "login" %}"><button
                type="button"
                class="btn btn-dark ms-2"
              >
                Войти
              </button> </a>
            {% endif %} 
          </div>
        </div>
      </nav>
    </header>
                     
          </div>
        </div>
      </nav>
    </header>
{% block content %}

{% endblock %}
<div class="border-top d-flex flex-row footer">
  <footer class="py-5 container">
    <div class="d-flex align-items-center flex-column pb-3 mb-3 footer-content">            
      <img src="{% static 'images//svg/footer-logo.svg' %} " alt="" class="f-img">
      <h5 class="mt-3">Дополнительная информация: </h5>
      <a href="https://мвд.рф/document/1910260" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">МВД</a>
      <a href="https://rkn.gov.ru/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Роскомнадзор</a>
    </div>
  </footer>
</body>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/interactive.js'%}"></script>
{% block js %} {% endblock %}
</html>