{% extends 'base.html' %} {% load static %} {% block title %} Чат с мошенником
{%endblock%} {% block content %}

<div class="content">
	<div class="container">
		<h2 class="text-center">Чат с мошенником</h2>
		<div class="chat" id="">
			<div class="chat-header d-flex align-items-center">
				<img src="{% static "images/avatar-moshenik.jpg" %}" class="circle
				rounded-circle" />
				<h4 class="username ms-3">Мошенник</h4>
			</div>
			<div class="chat-content d-flex flex-column">
				<div class="messages d-flex flex-column"></div>
				<div class="dialog"></div>
			</div>
		</div>
		<div class="results"></div>
		<div class="buttons-chat-deactivated">
          <div class="d-flex">
            <div class="p-3">
              <button
                class="btn btn-danger w-100 btn-restart p-2 mt-1"
                onclick="restartChat()"
              >
                Попробовать еще раз
              </button>
            </div>
            <div class="p-3">
              <button
                class="btn btn-primary w-100 btn-start p-2 mt-1"
                onclick="nextChat()"
              >
                Cледующий чат
              </button>
            </div>
          </div>
          <div
            class="d-flex flex-column text-center text-chat-fail visually-hidden">
            <h5>Вы не справились с интерактивом! Чтобы знать больше о мошенниках, пройдите наш курс:</h5>
          <a href="{% url "article" 2 %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Мошенечесво в интернете</a>
          </div>
        </div>
	</div>
</div>
{%endblock%}
