{% extends 'base.html' %} {% load static %} {% block title %} Курсы
{% endblock %} {% block content %}

<div class="content">
	<div class="container">
		<div class="kurs">
			<h5 class="mb-3">1. Кибербезопасность</h5>
			<div
				class="el-kurs d-flex justify-content-between align-items-center p-4 mb-3 rounded shadow-lg"
			>
				<div class="title-test">Статья. Кибербезопасность</div>
				<a href="stite1.html"
					><input type="button" class="btn btn-success" value="Прочитать"
				/></a>
			</div>
			<div
				class="el-kurs d-flex justify-content-between align-items-center p-4 mb-5 rounded shadow-lg"
			>
				<div class="title-test">Тест. Кибербезопасность</div>
				<a href="test1.html"
					><input type="button" class="btn btn-success" value="Пройти"
				/></a>
				<div class="status">Не пройден</div>
			</div>
			<h5 class="mb-3 mt-5">2. Мошенечество в Интернете</h5>
			<div
				class="el-kurs d-flex justify-content-between align-items-center p-4 mb-3 rounded shadow-lg"
			>
				<div class="title-test">Статья. Мошенечество в Интернете</div>
				<a href="stite2.html"
					><input type="button" class="btn btn-success" value="Прочитать"
				/></a>
			</div>
			<div
				class="el-kurs d-flex justify-content-between align-items-center p-4 mb-5 rounded shadow-lg"
			>
				<div class="title-test">Тест. Мошенечество в Интернете</div>
				<a href="test2.html"
					><input type="button" class="btn btn-success" value="Пройти"
				/></a>
				<div class="status">Не пройден</div>
			</div>
		</div>
	</div>
</div>
