{% extends 'base.html' %} {% load static %} {% block title %} Курсы {%endblock%}
{% block content %}

<div class="content" >
	<div class="container">
		<div class="title-sheet">
			<h2 class="text-center mb-2">Курсы</h2>
		</div>
		<div class="kurs text-center">
			{% for course in courses %}
					<div class="kurs text-center">
						<h5 class="mt-4">{{forloop.counter}}. {{ course.title }}</h5>
						<section class="grid-kurs">
							<article class="grid-item-kurs">
								<div class="image">
									<img src="{{ course.img.url }}" alt="..." />
								</div>
								<div class="info-kurs">
									<h2>Статья. {{ course.title }}</h2>
									<div class="button-wrap">
										<a href="{% url "article" course.pk %}"><input class="btn btn-primary"
												type="button" value="Читать"></a>
									</div>
								</div>
							</article>
							<article class="grid-item-kurs">
								<div class="image">
									<img src="{{ course.test_img.url }}" />
								</div>
								<div class="info-kurs">
									<h2>Тест. {{ course.test_name }}</h2>
									<div class="button-wrap">
										{% if not course.user_done %}
										<a href="{% url "get_quiz" course.test_pk %}"><input type="button"
												class="btn btn-primary" value="Пройти" /></a>
										{% else %}
										<div class='btn btn-success'> Пройдено </div>
										{% endif %}
									</div>
								</div>
							</article>
						</section>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}