{% extends 'base.html' %} {% load static %} {% block title %} Главная Страница
{% endblock %} {% block content %}
<!-- Content -->
<div class="content">
	<div class="container">
		<div class="welcome">
			<h2 class="text-center">
				Добро пожаловать на путь кибербезопасности! <br />
				Мы поможем вам защитить свои данные от современных киберугроз.
			</h2>
			<img src="{% static "images/png/first-welcome.png" %} " alt="">
		</div>
		<div class="cyber mt-5">
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<img src="{% static "images/png/personal.png"%}" alt="">
				<div class="text-center">
					<h2>Защитите персональные данные</h2>
				</div>
			</div>
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<div class="text-center">
					<h2>Защититесь от мошенников</h2>
				</div>
				<img src="{% static "images/png/obman.png"%}" alt="">
			</div>
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<img src="{% static "images/png/power.png"%}" alt="">
				<div class="text-center">
					<h2>Повышайте цифровую грамотность</h2>
				</div>
			</div>
		</div>
		<div class="about-us mt-5">
			<h2 class="text-center">На нашем сайте есть</h2>
			<div class="row mt-5">
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/obr.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Обучение</h5>
					<p>Пройдите курсы по кибербезопасности и расширяйте свои знания</p>
					<a href="{% url "courses" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/puzzle.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Интерактив</h5>
					<p>Пройдите наши интерактив с использованием элементов обучения</p>
					<a href="{% url "chat" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/rating.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Рейтинг</h5>
					<p>
						Сравните свои результаты с другими пользователями и повышайте их
					</p>
					<a href="{% url "rating" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
			</div>
		</div>
		<!-- end about-us -->

		<!-- news -->
	<h2 class="text-center mt-5">Новости</h2>
	<section class="grid">
		<article class="grid-item">
			<div class="image">
				<img src="{% static "images/first-new.jpg" %}" />
			</div>
			<div class="info">
				<h2>Стандартизация защиты от утечек данных: "Солар" рассказал о разработке ГОСТ</h2>
				<div class="info-text mt-3">
					<p>В последние годы государство планомерно реализует стратегию по борьбе с утечками данных, чтобы мотивировать бизнес тщательнее оберегать персональные данные и 
			наращивать надежность систем кибербезопасности.</p>
				</div>
				<div class="button-wrap">
					<p>Дата новости - 7 декабря 2023 года</p>
				</div>
			</div>
		</article>
		<article class="grid-item">
			<div class="image">
				<img src="{% static "images/second-new.jpg" %}" />
			</div>
			<div class="info">
				<h2>"Ростелеком": успешных кибератак на "Госуслуги" за полтора года не было</h2>
				<div class="info-text mt-3">
					<p> Успешных кибератак на портал "Госуслуги" или остановки его работы за последние полтора года не было, что показывает надежность "Госуслуг" заявил глава "РТК-Солар", вице-президент 
			"Ростелекома" по информационной безопасности Игорь ляпунов.</p>
				</div>
				<div class="button-wrap">
					<p>Дата новости - 29 ноября 2023 года</p>
				</div>
			</div>
		</article>
	<article class="grid-item">
		<div class="image">
			<img src="{% static "images/thrid-new.png"%}" />
		</div>
		<div class="info">
			<h2>Минцифры пересматривает нормы обучения экспертов в сфере кибербезопасности</h2>
			<div class="info-text mt-3">
				<p>Минцифры РФ решило пересмотреть стандарты подготовки специалистов в сфере кибербезопасности - ведомство готовит обновление с учетом текущего уровня угроз, заявил.</p>
			</div>
			<div class="button-wrap">
			<p>Дата новости - 14 ноября 2023 года</p>
			</div>
		</div>
	</article>	
	</section>
	<section class="grid">
		<article class="grid-item">
			<div class="image">
				<img src="{% static "images/four-new.jpg"%}" />
			</div>
			<div class="info">
				<h2>Эксперты назвали самые эффективные способы увеличить кибербезопасность компаний</h2>
				<div class="info-text mt-3">
					<p>По мнению экспертов своевременное обновление программного обеспечения, замена оборудование на более современное и обеспечение соответствия требованиям к безопасности - главные 
					способы увеличения кибербезопасности.</p>
				</div>
				<div class="button-wrap">
				<p>Дата новости - 17 Октября 2023 года</p>
				</div>
			</div>
		</article>
		<article class="grid-item">
		<div class="image">
			<img src="{% static "images/five-new.jpg"%}" />
		</div>
		<div class="info">
			<h2>Исследование показало, сколько ущерба нанесли хакеры российским компаниям</h2>
			<div class="info-text mt-3">
				<p>Средний ущерб, нанесенный крупным компаниям РФ хакерами за период с июля 2022 года по июнь 2023 года, вырос на треть по сравнению с аналогичным предыдущим 
					периодом и составил не менее 20 миллионов рублей.</p>
			</div>
			<div class="button-wrap">
				<p>Дата новости - 2 Октября 2023 года</p>
			</div>
		</div>
	</article>
		<article class="grid-item">
			<div class="image">
				<img src="{% static "images/six-new.jpg"%}" />
			</div>
			<div class="info">
				<h2>Мошенечество в мессенджерах и социальных сетях сильно увеличилось</h2>
				<div class="info-text mt-3">
					<p>За 3 квартала 2023 год мошенечество с использованием социльных сетей и мессенджеров увеличилось почти на 23%, лидерами в этом анирейтинге стала Ингушетия и Ненецкий АО с приростом 
					почти 140%, от 53% до 68% роста имеют.</p>
				</div>
				<div class="button-wrap">
					<p>Дата новости - 20 сентября 2023 года</p>
				</div>
			</div>
		</article>    
	</section>
	</div>
	</div>
	</div>
</div>
<!-- end content -->
{% endblock %}
