{% extends 'base.html' %} {% load static %} {% block title %} Главная Страница
{% endblock %} {% block content %}
<!-- Content -->
<div class="content">
	<div class="container">
		<div class="welcome">
			<h2 class="text-center">
				Добро пожаловать на путь кибербезопасности! <br />
				Мы поможем вам защитить свои данные от современных киберугроз.
			</h2>
			<img src="{% static "images/png/first-welcome.png" %} " alt="">
		</div>
		<div class="cyber mt-5">
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<img src="{% static "images/png/personal.png"%}" alt="">
				<div class="text-center">
					<h2>Защитите персональные данные</h2>
				</div>
			</div>
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<div class="text-center">
					<h2>Защититесь от мошенников</h2>
				</div>
				<img src="{% static "images/png/obman.png"%}" alt="">
			</div>
			<div
				class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4"
			>
				<img src="{% static "images/png/power.png"%}" alt="">
				<div class="text-center">
					<h2>Повышайте цифровую грамотность</h2>
				</div>
			</div>
		</div>
		<div class="about-us mt-5">
			<h2 class="text-center">На нашем сайте есть</h2>
			<div class="row mt-5">
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/obr.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Обучение</h5>
					<p>Пройдите курсы по кибербезопасности и расширяйте свои знания</p>
					<a href="{% url "courses" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/puzzle.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Интерактивы</h5>
					<p>Пройдите наши интерактивы с использованием элементов обучения</p>
					<a href="{% url "chat" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
				<div class="col-md-4 text-center mt-3">
					<div class="about-img d-flex justify-content-center">
						<img src="{% static "images/rating.png"%}" alt="" />
					</div>
					<h5 class="mt-3">Рейтинг</h5>
					<p>
						Сравните свои результаты с другими пользователями и повышайте свои
						результаты
					</p>
					<a href="{% url "rating" %}"
						><button class="btn btn-primary">Подробнее</button></a
					>
				</div>
			</div>
		</div>
		<!-- end about-us -->

		<!-- news -->
		<h2 class="text-center mt-5">Новости</h2>
		<div class="news mt-5">
			<div class="row">
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/first-new.jpg"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								Стандартизация защиты от утечек данных: "Солар" рассказал о
								разработке ГОСТ
							</h5>
							<p class="card-text">
								В последние годы государство планомерно реализует стратегию по
								борьбе с утечками данных, чтобы мотивировать бизнес тщательнее
								оберегать персональные данные и наращивать надежность систем
								кибербезопасности.
							</p>
							<p class="card-text">Дата новости - 7 декабря 2023 года</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/second-new.jpg"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								"Ростелеком": успешных кибератак на "Госуслуги" за полтора года
								не было
							</h5>
							<p class="card-text">
								Успешных кибератак на портал "Госуслуги" или остановки его
								работы за последние полтора года не было, что показывает
								надежность "Госуслуг" заявил глава "РТК-Солар", вице-президент
								"Ростелекома" по информационной безопасности Игорь Ляпунов.
							</p>
							<p class="card-text">Дата новости - 29 ноября 2023 года</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/thrid-new.png"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								Минцифры пересматривает нормы обучения экспертов в сфере
								кибербезопасности
							</h5>
							<p class="card-text">
								Минцифры РФ решило пересмотреть стандарты подготовки
								специалистов в сфере кибербезопасности - ведомство готовит
								обновление с учетом текущего уровня угроз, заявил.
							</p>
							<p class="card-text">Дата новости - 14 ноября 2023 года</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/four-new.jpg"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								Эксперты назвали самые эффективные способы увеличить
								кибербезопасность компаний
							</h5>
							<p class="card-text">
								По мнению экспертов своевременное обновление программного
								обеспечения, замена оборудование на более современное и
								обеспечение соответствия требованиям к безопасности - главные
								способы увеличения кибербезопасности.
							</p>
							<p class="card-text">Дата новости - 17 Октября 2023 года</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/five-new.jpg"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								Исследование показало, сколько ущерба нанесли хакеры российским
								компаниям
							</h5>
							<p class="card-text">
								Средний ущерб, нанесенный крупным компаниям РФ хакерами за
								период с июля 2022 года по июнь 2023 года, вырос на треть по
								сравнению с аналогичным предыдущим периодом и составил не менее
								20 миллионов рублей.
							</p>
							<p class="card-text">Дата новости - 2 Октября 2023 года</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-3">
					<div class="card">
						<img src="{% static "images/six-new.jpg"%}" class="card-img-top"
						alt="..." />
						<div class="card-body">
							<h5 class="card-title">
								Мошенечество в мессенджерах и социальных сетях сильно
								увеличилось
							</h5>
							<p class="card-text">
								За 3 квартала 2023 год мошенечество с использованием социльных
								сетей и мессенджеров увеличилось почти на 23%, лидерами в этом
								анирейтинге стала Ингушетия и Ненецкий АО с приростом почти
								140%, от 53% до 68% роста имеют Томская и Ярославская области.
							</p>
							<p class="card-text">Дата новости - 20 сентября 2023 года</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end content -->
{% endblock %}
