* {
	margin: 0;
	padding: 0;
}

/* Подключение шрифтов */
@font-face {
	font-family: 'Extended';
	src: url('fonts/Asket Extended.ttf');
}
@font-face {
	font-family: 'Light';
	src: url('fonts/Asket Extended Light.ttf');
}
@font-face {
	font-family: 'Thin';
	src: url('fonts/Asket Extended Thin.ttf');
}
@font-face {
	font-family: 'Bold';
	src: url('fonts/Asket Extended Bold.ttf');
}
@font-face {
	font-family: 'Medium';
	src: url('fonts/Asket Extended Medium.ttf');
}
@font-face {
	font-family: 'Italic';
	src: url('fonts/Asket Extended Italic.ttf');
}
@font-face {
	font-family: 'Thin-italic';
	src: url('fonts/Asket Extended Thin Italic.ttf');
}

/* Приписка шрифтов к классу */
.extended {
	font-family: 'Extended';
}
.light {
	font-family: 'Light';
}
.thin {
	font-family: 'Thin';
}
.bold {
	font-family: 'Bold';
}
.medium {
	font-family: 'Medium';
}
.italic {
	font-family: 'Italic';
}
.thin-italic {
	font-family: 'Thin-italic';
}

body {
	height: 100vh;
}

/* Стили главная страница */
.welcome {
	margin-top: 150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.welcome img {
	width: 100%;
}

/* Стили о нас */
.about-us img {
	width: 140px;
	height: 140px;
}
.cyber {
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}
.cyber img {
	height: 60%;
	width: 60%;
}

/* Стили шапки */
.navbar-nav a {
	color: #ffffff;
}

/* Стили контент */
.content {
	margin-top: 76px;
}

/* Стили интерактива */
.chat {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	margin-top: 50px;
}
.chat p {
	margin: 0;
}
.chat-header {
	padding: 10px;
	background-color: #075e55;
	color: #ffffff;
	font-size: 24px;
}
.circle {
	width: 70px;
	height: 70px;
	background: rgb(165, 165, 165);
}

.chat-content {
	border-top: 1px solid black;
	background: #efe7de;
}
.messages {
	min-height: 700px;
	padding: 10px;
	max-height: 50vh;
	overflow: auto;
}
.get-message {
	overflow-wrap: break-word;
	padding: 10px;
	border-radius: 0 20px 20px 20px;
	background: #ffffff;
}
.post-message {
	overflow-wrap: break-word;
	padding: 10px;
	background: #e2ffc9;
	border-radius: 20px 0 20px 20px;
}
.dialog {
	background: #efe7de;
	margin-top: 10px;
	border-top: 1px solid black;
}
.dialog .btn {
	background: #e2ffc9;
	color: black;
	width: 90%;
	margin: 10px auto;
}
.dialog .btn:hover {
	background-color: #cdffa1;
}
.buttons-chat-deactivated * {
	display: none;
}

/* Стили новостей  */
.news img {
	height: 250px;
}

/* Стили курсов */
.kurs {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.title-test {
	width: 60%;
}
.el-kurs {
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
.test {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #fff;
}
.stite {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #fff;
}
.image-stite {
	width: 100%;
}
.panel-img {
	width: 130px;
}
.f-img {
	width: 100px;
}
.title-sheet {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}
.radio {
	background-color: rgb(226, 221, 221);
}

/* Стили подвала */
.footer {
	margin-top: 5%;
}

/* Стили форм регистрации и авторизации */
.form-logins {
	width: 100%;
	padding: 25px;
}
.container-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 550px;
	width: 95%;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.body-form {
	min-height: 100vh;
	width: 100%;
	background: #e6eeec;
}
.input-form {
	height: 60px;
	width: 100%;
	padding: 0 15px;
	font-size: 17px;
	margin-bottom: 1.3rem;
	border: 1px solid #ddd;
	border-radius: 6px;
	outline: none;
}

.g-h:hover {
	box-shadow: 5px 5px 5px 5px #009579;
}

/* Стили таблицы пользовательского рейтинга */
.rating {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
thead th,
.top-user {
	text-align: center;
}
.mesto {
	width: 5%;
}
.balls {
	width: 15%;
}
.username-top {
	width: 35%;
}
.name-top {
	width: 45%;
}

/* Стили выпадающего профиля */
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	margin-left: 10px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 190px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding: 5px;
}
.dropdown-content p {
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
}
.dropdown-content hr {
	margin: 5px;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}
.btn-profile {
	background: #e95035;
}
.btn-profile:hover {
	background: red;
}
